.banner{
    background-color: rgb(182, 0, 31);
    
}

.form-banner {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}
.h1-tag{
    font-size: 3em;
    color: white;
    font-weight: bolder;
}
.about-btn{
    color: white;
    background-color: red;
    border: 0px;
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
}
.order-now-btn{
    background-color: black;
    color: white;
    border: 0px;
    padding: 10px;
}
.banner-text{
    color: #FFA609;
}